.hamburger-menu {
    display: none; 
}

@media (max-width: 450px) {
    .menu{
        width: 100%;
    }
    .nav-list {
        display: none; 
    }
    .hamburger-menu {
        width: 15vw;
        height: 10vw;
        display: block; 
    }
    .logo{
        margin-left: 5px;
        width: 12vw;
        height: 10vh;
    }
}

@media (min-width: 750px) and (max-width: 990px) {
    .menu {
        width: 100%;
        align-items: center;
    }
    .nav-list {
        display: none; 
    }
    .hamburger-menu {
        width: 15vw;
        height: 10vw;
        text-align: center;
        margin-top: 50px;
        display: block; 
    }
}


@media (min-width: 1024px) and (max-width: 1350px) {
    .menu {
        margin-left: 20px;
        width: 100%;
    }
    .nav-list{
        margin-left: 20px;
    }
    .search-bar{
        display: none;
    }
}
@media (min-width: 1400px) {
    .menu {
        width: 39%;
    }
}



