.hamburger-menu {
    display: none; 
}

@media (max-width: 450px) {
    .nav-list {
        display: none; 
    }
    .hamburger-menu {
        width: 15vw;
        height: 10vw;
        display: block; 
    }
    .logo{
        margin-left: 5px;
        width: 12vw;
        height: 10vh;
    }
}

